@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #1e1e1e;
  }

  .container {
    @apply w-full max-w-[1150px] mx-auto px-5;
  }
}

@layer components {
  .typo-h1 {
    @apply font-kanit text-[72px] leading-[86px] font-medium
  }

  .typo-h2 {
    @apply font-kanit text-[40px] leading-[48px] font-bold tracking-[0.04em]
  }

  .btn {
    @apply inline-flex justify-center items-center text-center py-2.5 px-8 text-[14px] font-semibold leading-5 tracking-[0.08em] rounded-full whitespace-nowrap cursor-pointer select-none;
  }

  .btn--primary {
    @apply text-white bg-primary hover:bg-primary/70 active:bg-primary transition-colors;
  }

  .btn--gray {
    @apply text-black bg-secondary-500 hover:bg-secondary-600 active:bg-secondary-700 transition-colors
  }

  .btn--ghost {
    @apply text-white bg-white/10 hover:bg-white/30 active:bg-white/50 transition-colors
  }

  .btn--white {
    @apply text-black bg-white hover:bg-[#DEDEDE] active:bg-neutral-300 transition-colors
  }

  .btn--error {
    @apply text-white bg-red-500 hover:bg-red-600 active:bg-red-700 transition-colors
  }

  .btn--blue {
    @apply text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-800 transition-colors;
  }

  .btn:disabled {
    @apply cursor-not-allowed
  }

  .btn--loading {
    @apply opacity-90 gap-2 before:w-4 before:h-4 before:border-2 before:border-neutral-400 before:rounded-full before:border-l-transparent before:border-t-transparent before:animate-spin;
  }
}

.ellipse {
  position: absolute;
  top: 100%;
  z-index: -20;
  left: 50%;
  transform: translateX(-50%);
  width: 276px;
  height: 171px;
  background: #ffffff;
  opacity: 0.7;
  filter: blur(50px);
}


.test {
  /*--angle: 180deg;*/
  /*border-width: 4px;*/
  /*border-style: dotted;*/
  /*border-color: grey;*/
  /*border-image-source: linear-gradient(*/
  /*  var(--angle),*/
  /*  #900000,*/
  /*  #ee2400,*/
  /*  transparent 10rem*/
  /*);*/
  /*border-image-slice: 1;*/
}

/*border: 4px solid;*/

/*border-image-source: linear-gradient(256.84deg, #2F81ED 1.56%, #2BD071 84.59%);*/


/*.box::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  inset: 0;*/
/*  border-radius: 20px 20px 0 0;*/
/*  height: 50%;*/
/*  padding: 4px 4px 0px 4px; !* control the border thickness *!*/
/*  background: linear-gradient(256.84deg, #2f81ed 1.56%, #2bd071 84.59%);*/
/*  -webkit-mask: linear-gradient(#fff 0 0) content-box,*/
/*  linear-gradient(#fff 0 0);*/
/*  mask: linear-gradient(#fff 0 0) content-box,*/
/*  linear-gradient(#fff 0 0);*/
/*  -webkit-mask-composite: xor;*/
/*  mask-composite: exclude;*/
/*  pointer-events: none;*/

/*}*/

.shadow {
  position: relative;
  z-index: 10;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, transparent 50%, #9198e5 50%),
  /*linear-gradient(green, blue),*/
  linear-gradient(to top, #1F1F1F 32%, rgba(32, 32, 32, 0) 48%);

}

